fastapi[standard]>=0.113.0,<0.114.0
pydantic==2.9.2
pydantic_settings
uvicorn[standard]
requests
pytest
supabase
pyjwt
passlib[bcrypt]
pika
redis
celery[redis]
python-jose[cryptography]
python-dotenv
chromadb
luigi
pandas
multiping
upstash-redis
neo4j
sentry-sdk[fastapi]